body{
    background-color:lightblue;
}
.abheading{
    align-items: center;
}

.subject{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;

}
.cardsub{
    display: flex;
    padding: 10px 20px;
}
.subject p{
  font-size: 18px;
 text-align: justify;

}

.mainbtn {
    display: inline-block;
    padding: 10px 20px;
    justify-content: space-around;
    background-color:darkgoldenrod;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mainbtn:hover {
    background-color: #0056b3;
}

.video1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background: rgba(0,0,0,0.85) ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease; 
}

.video1.active{
    visibility: visible;
    opacity: 1;
}

 
.close{
    position:absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter:invert(1);
    max-width: 32px;
    background-color: red;
}

 @media(max-width :991px){
    .video1 video{
        max-width: 90%;
    }
} 
.card1{
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.15);
    margin-right: 50px;
    height: 550px;
    padding: 5px 40px;
    width: 300px;
}
@media (max-width: 575px) {
    .abheading {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .subject p {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .mainbtn {
        padding: 8px 16px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .close {
        top: 20px; /* Adjust close button position */
        right: 20px; /* Adjust close button position */
    }
    .video1 {
        position: fixed;
        top: 50%; /* Adjust top position to center vertically */
        left: 50%; /* Adjust left position to center horizontally */
        transform: translate(-50%, -50%); /* Center the video container */
        z-index: 10000;
        background: rgba(0, 0, 0, 0.85);
        height: 100%;
        width: 100%; /* Make the video container full width */
        display: flex;
        justify-content: center;
        align-items: center;
        transition: height 0.5s ease;
    }
}
