body {
  background-color: lightblue;
}

/* Section Styles */
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.text-container {
  flex: 3;
  padding: 20px;
  margin-top: 10px; /* Adjust margin */
  margin-left: 20px; /* Adjust margin */
}

.image-container {
  flex: 1;
  padding: 10px;
  margin-right: 20px; /* Adjust margin */
}

.img1 {
  width: 100%; /* Adjust width */
  height: auto;
  border-radius: 50%;
}

/* Text Styles */
.projectname {
  color: brown;
}

h1 {
  margin-top: 10px;
}

h2 {
  font-family: cursive;
}

p {
  font-size: larger;
  font-family: cursive;
}

/* Slider Styles */
.slidercontainer {
  display: flex;
  flex-direction: column; /* Adjust direction */
  background-color: lightblue;
}

.imgslider {
  width: 100%; /* Adjust width */
  object-fit: contain;
  padding: 10px;
}

.slick-slide img {
  height: auto; /* Adjust height */
}

.text {
  flex: 1;
  background-color: lightcyan;
  margin-right: 20px; /* Adjust margin */
}

.heading {
  color: brown;
  text-align: center; /* Adjust alignment */
  margin: 10px; /* Adjust margin */
}

.points {
  width: fit-content;
  margin: auto;
  justify-content: center;
}

/* Media Queries for Responsive Design */

/* Mobile Devices */
@media (max-width: 576px) {
  .section-container {
      flex-direction: column; /* Stack elements vertically */
  }
  .text-container {
      margin-left: 0; /* Remove left margin */
  }
  .image-container {
      margin-right: 0; /* Remove right margin */
  }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 992px) {
  .text-container {
      margin-left: 30px; /* Adjust left margin */
  }
  .image-container {
      margin-right: 30px; /* Adjust right margin */
  }
}

/* Desktops */
@media (min-width: 992px) {
  .text-container {
      margin-left: 50px; /* Adjust left margin */
  }
  .image-container {
      margin-right: 50px; /* Adjust right margin */
  }
}
