.navbarcontainer {
  background-color: cadetblue;
  padding: 20px; /* Adjust padding */
  display: flex;
  flex-direction: row; /* Change to row */
  justify-content: flex-start;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust shadow */
}

.navbar-navcon {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

a {
  margin-right: 10px; /* Adjust margin */
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-itemcon {
  margin-right: 10px; /* Adjust margin */
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 16px; /* Adjust font size */
  display: flex;
  align-items: center;
}

.nav-link .icon {
  margin-right: 10px; /* Adjust margin */
}

/* Media Query for Tablets */
@media (min-width: 768px) {
  .navbarcontainer {
      padding: 25px 30px; /* Adjust padding */
  }
  a {
      margin-right: 15px; /* Adjust margin */
  }
  .nav-itemcon {
      margin-right: 15px; /* Adjust margin */
  }
  .nav-link {
      font-size: 18px; /* Adjust font size */
  }
}

/* Media Query for Desktops */
@media (min-width: 992px) {
  .navbarcontainer {
      padding: 35px 40px; /* Adjust padding */
  }
  a {
      margin-right: 19px; /* Adjust margin */
  }
  .nav-itemcon {
      margin-right: 20px; /* Adjust margin */
  }
  .nav-link {
      font-size: 20px; /* Adjust font size */
  }
}

/* Media Query for Large Screens */
@media (min-width: 1200px) {
  .navbarcontainer {
      padding: 40px 50px; /* Adjust padding */
  }
  a {
      margin-right: 20px; /* Adjust margin */
  }
  .nav-itemcon {
      margin-right: 25px; /* Adjust margin */
  }
  .nav-link {
      font-size: 22px; /* Adjust font size */
  }
}
