.newsupdates{
    background-color: lightblue;
  }
  .newscontainer{
      padding: 10px 40px;
  }
  .card{
      width: 300px;
      height: 20px;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
      margin-right: 20px;
  }
  .cardimg{
      width:300px;
  }
  /* NewsApp.css */
  .wrapper{
      display: flex;
      justify-content: center;
  }
  .styled-button {
      
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .styled-button:hover {
      background-color: #0056b3;
    }
    
    .navbarcontainernews {
      background-color:aliceblue;
      /* margin-bottom: 20px; */
      width: 100%;
      justify-content: space-around;
      display: flex;
      flex-direction: row; /* Change to row */
      padding: 20px 20px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
    }
    
    .navbar-navconnews {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }
    
    .nav-itemconnews {
      text-align: center; /* Center the contents */
      margin-right: 55px;
    }
    
    .nav-linknews {
      color: black;
      font-size: 20px;
      display: block; /* Display the link as a block element */
      margin-top: 5px; /* Adjust spacing between icon and text */
      text-decoration: none; /* Remove underline from the link */
    }
    
    .iconnews {
      display: block; /* Display the icon as a block element */
      margin: 0 auto; /* Center the icon horizontally */
    }
    .datechooser{
      display: flex;
    }
    .newsbydate{
      padding: 10px 550px;
    }
    h5{
      align-items: center;
    }
   /* NewsByDate.css */
  .datepicker-input {
    width: 200px; /* Set the desired width for the input field */
    height: 35px;
    margin-bottom: 50px;
  }
  
    
    
  